#cart
{
	border-collapse:collapse;
	empty-cells:hide;
}

#cart td, #cart th
{
	
	padding:2px 7px 2px 7px;
	
}

#cart th
{

	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#66CC00;
}


