
.currentOffer
{
	background-color: #DDDDDD;
	
	margin-left: 6px;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-right: 4px;
	
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	
	border-style: groove;
	border-color: #00AA55;
	border-width: 2px;
	
	border-radius: 20px;
	box-shadow: 1px 1px 4px 3px #00AA55;
	
	text-align: center;
}

.header
{
	text-align: left;	
}