.Model
{
	font-size: 36px;
	font-weight: bold;
	color: #00AA55;
	text-shadow: #444444 -2px 2px 2px;
}

.Make
{
	font-size: 16px;
}

.prod
{
	width: 1022px;
	margin-left: 1px;
}

.prod .row
{
	width: inherit;
	display: table;
}

.prod_title
{
	width: inherit;
	background-color: #EEEEEE;
	padding-left: 8px;
	padding-bottom: 4px;
	display: table-cell;
}

.prod_img
{
	border-width: 2px;
	border-color: #00AA55;
	border-style: inset;
	width:240px;
	max-width: 240px;
	background-color: white;
	display: inline-block;
	
	margin-top: 10px;
	margin-left: 10px;
}

.prod_description
{
	font-size: 15px;
	text-align: justify;
	font-family: "Helvetica";
	vertical-align: middle;
	display: table-cell;
	
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 60px;
	max-width: 360px;
}

.prod_rating
{
	display: table-cell;
	vertical-align: top;
	
	width: 240px;
	max-width: 240px;
	padding-top: 10px;
	padding-left: 60px;
	
	/*background-color: #DDDDDD;*/
}

.prod_do
{
	text-align: right;
	
	padding-right: 30px;
}

.prod_do form
{
	display: inline;
}

.offer
{
	background-color: #EFEFEF;
	border-style: groove;
	margin-top: 30px;
	margin-right: 10px;
	padding: 5px;
}

.offer > .savings
{
	font-weight: bold;
	font-size: 16px;
}

.original_retail
{
	font-size: 20px;
	font-weight: bold;
	vertical-align: top;
	color:  red;
	text-decoration: line-through;
}

.original_retail_sm
{
	font-size: 14px;
	font-weight: bold;
	vertical-align: top;
	color:  red;
	text-decoration: line-through;
}

span.retail
{
	font-size: 30px;
	font-weight: bold;
	vertical-align: top;
	color:  #4E358C;
}

span.image_button
{
	cursor: pointer;
	text-decoration: underline;
	color: green;
}

.classification
{
	position: relative;
	width: 91px;
	height: 17px;
	
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 1px;
}

.classification .cover
{
	position: absolute;
	background: transparent url(../images/stars.png) top left no-repeat;
	top: 0px;
	left: 0px;
	width: 91px;
	height: 17px;
	z-index: 101;
}

.classification .progress
{
	position: absolute;
	background: transparent url(../images/stars_full.png) top left no-repeat;
	top: 0px;
	left: 0px;
	height: 17px;
	z-index: 102;
}

.review_box
{
	background-color: #CCCCCC;
	
	margin-left: 20px;
	margin-bottom: 40px;
	
	text-align: center;
	
	min-width: 600px;
	max-width: 600px;
	
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 10px;
	
	float:left;
}

.add_review_box
{
	padding-left: 20px;
}

.review
{
	background-color: #EEEEEE;
	text-align: left;
}

.odd
{
	background-color: #DDDDDD;
}
